<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <b><br><font size=18><p>Welcome 
        <%= message %></font size></br></b>
        <br><%= message2 %> <input type "text" name = "url" id = "url" placeholder = "www.leboncoin.fr"/></br>
        <br><%= message3 %><input type "text" name = "url" id = "url" placeholder = "www.meilleursagents.com"/></br>
    </p>

<div class="background">
</div>

<br><button class="button"> Comparer les prix !</button></br>
  

</body>

</html>